<div class="container"><div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">

    <div class="row"><div class="col">
      <h1>Todo App</h1>  
    </div></div>

    <div class="row"><div class="col">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="descripcion" class="sr-only">Password</label>
          <input type="text" class="form-control" id="descripcion" placeholder="Ingrese tarea">
        </div>
        <button 
          (click) = "agregaTarea($event)"
          type="button" 
          class="btn btn-outline-info mb-2">Agregar tarea</button>
      
      </form>
    </div></div>
    <div class="row"><div class="col">

      <div 
        *ngFor="let tarea of tareas" 
        [id] = "'id_' + tarea.id"  
        class="alert alert alert-info alert-dismissible fade show" 
        role="alert">
        <strong>{{tarea.descripcion}}</strong> 
        <button 
          (click) = "eliminaElemento($event)"
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div></div>
  </div>
  <div class="col-lg-2"></div>

</div></div>